{{#if editing}}
    <form>
      {{input value=value}}
        <a href="#" {{action "cancelEditing"}}>Cancel</a>
        <a href="#" {{action "stopEditing"}}>Save</a>
    </form>
{{else}}
    <a href="#" {{action "startEditing"}}>{{value}}</a>
{{/if}}