{{#if editing}}
    <form onsubmit="return false;">
      {{input type=type value=value enter="stopEditing" escape-press='cancelEditing' class='small-input'}}
      {{#if isInvalid}}
          <small class="error man pan">{{invalidMessage}}</small>
      {{/if}}
    </form>
{{else}}
    <div class="inline-edit-title">
      {{#if value}}
        {{value}}
      {{else}}
          Add
      {{/if}}
    </div>
{{/if}}