{{#if editing}}
    <form onsubmit="return false;">
      {{input value=value enter="stopEditing"}}
        <a href="#" {{action "cancelEditing"}}>Cancel</a>
    </form>
{{else}}
    <a href="#" {{action "startEditing"}}>{{value}}</a>
{{/if}}