<table class="fluid-media">
    <thead>
    <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Cost</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each tasks as |task|}}
        <tr>
            <td>{{inline-edit value=task.title model=task}}</td>
            <td>{{inline-edit value=task.value model=task}}</td>
            <td>{{inline-edit value=task.cost model=task}}</td>
            <td>
              {{#link-to 'task' task}}{{fa-icon "info-circle"}}{{/link-to}}
                <a {{action "deleteTask" task}}>{{fa-icon "minus-circle"}}</a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>