<table class="fluid-media">

    <thead>
    <tr>
        <th><h2>Private</h2></th>
        <th> </th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.myPrivateMatrices as |matrix|}}
        <tr>
            <td>
              {{inline-edit value=matrix.title model=matrix action='goToMatrix'}}
            </td>
            <td>

              {{#link-to 'tasks.index' matrix}}{{fa-icon "info-circle"}}{{/link-to}}
              {{confirm-button toBeDeleted=matrix}}
            </td>
        </tr>
    {{else}}
        <tr>
            <td>
                <em>{{#link-to 'matrices.new'}} {{fa-icon "file-o"}} Create your own matrix.{{/link-to}}</em>
            </td>
        </tr>
    {{/each}}
    </tbody>


    <thead>
    <tr>
        <th><h2>Public</h2></th>
        <th> </th>
    </tr>
    </thead>
    <thead>
    <tr>
        <th>Title</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each model.publicMatrices as |matrix|}}
        <tr>
            <td>
              {{inline-edit value=matrix.title model=matrix action='goToMatrix'}}
            </td>
            <td>

              {{#link-to 'tasks.index' matrix}}{{fa-icon "info-circle"}}{{/link-to}}
              {{confirm-button toBeDeleted=matrix}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>



