<div class="medium-12 columns">

    <div class="bottom-section__menu">
        <div class="bottom-section__menu__title">
          {{controllers.matrix.model.title}}
        </div>
        <div class="bottom-section__menu__link">
          {{#link-to 'tasks.index' class='button expand radius man'}}Show list{{/link-to}}
        </div>
        <div class="bottom-section__menu__link">
          {{#link-to 'tasks.new' class='button expand radius man'}}Add a task{{/link-to}}
        </div>
    </div>

    <p class="ptxs"><strong>Task details:</strong></p>

    <div class="row man pan">
        <div class="small-11 columns man pan">
          {{inline-edit value=model.title model=model}}
        </div>
        <div class="small-1 columns man pan">
          {{confirm-button toBeDeleted=model action="displayNewTaskForm"}}
        </div>
    </div>
    <div class="row man pan">
        <div class="medium-4 columns man pan">Value:</div>
        <div class="medium-8 columns man pan">{{inline-edit type="number" value=model.value model=model}}</div>
    </div>
    <div class="row man pan">
        <div class="medium-4 columns man pan">Cost:</div>
        <div class="medium-8 columns man pan">{{inline-edit type="number" value=model.cost model=model}}</div>
    </div>
    <div class="row man pan">
        <div class="medium-4 columns man pan">Description:</div>
        <div class="medium-8 columns man pan">{{inline-edit value=model.description model=model}}</div>
    </div>

</div>