<header class="dispib">
    <span class="title prxl plxl">Valoritization.com</span>
    <nav class="dispib mlxl">
        <ul class="button-group">
            <li>{{#link-to 'index' class='header__button' title="home"}}{{fa-icon "home"}}{{/link-to}}</li>
            <li>{{#link-to 'matrices.new' class='header__button' title="Create a new matrix"}}{{fa-icon "file-o"}}{{/link-to}}</li>
            <li>{{#link-to 'matrices' class='header__button' title="List matrices"}}{{fa-icon "list-alt"}}{{/link-to}}</li>
            <li>{{#link-to 'about' class='header__button' title="About"}}{{fa-icon "envelope"}}{{/link-to}}</li>
        </ul>
    </nav>
</header>

<main class="mbxl">
  {{outlet}}
</main>

<footer class="bottom-bar">
    <span class="prl">&copy; Valoritization 2015</span>
</footer>

<aside>
  {{user-feedback}}
  {{growl-manager notifications=growl.notifications}}
</aside>