<header class="dispib">
    <span class="title prxl plxl" >Valoritization.com</span>
    <nav class="dispib">
        <ul class="button-group">
            <li>{{#link-to 'index' class='button small man pts pbs' title="home"}}{{fa-icon "home"}}{{/link-to}}</li>
            <li>{{#link-to 'matrices.new' class='button small man pts pbs' title="Create a new matrix"}}{{fa-icon "file-o"}}{{/link-to}}</li>
            <li>{{#link-to 'matrices' class='button small man pts pbs' title="List matrices"}}{{fa-icon "list-alt"}}{{/link-to}}</li>
            <li>{{#link-to 'about' class='button small man pts pbs' title="About"}}{{fa-icon "envelope"}}{{/link-to}}</li>
        </ul>
    </nav>
</header>

<main>
  {{outlet}}
</main>

<footer class="bottom-bar">
    <span class="prl">&copy; Valoritization 2015</span>
</footer>

<aside>
  {{user-feedback}}
</aside>