<header class="dispib">
    <span class="title prxl plxl">Valoritization.com</span>
    <nav class="dispib mlxl">
        <ul class="button-group">
            <li>{{#link-to 'index' class='button small man pts pbs' title="home"}}{{fa-icon "home" size=2}}{{/link-to}}</li>
            <li>{{#link-to 'matrices.new' class='button small man pts pbs' title="Create a new matrix"}}{{fa-icon "file-o" size=2}}{{/link-to}}</li>
            <li>{{#link-to 'matrices' class='button small man pts pbs' title="List matrices"}}{{fa-icon "list-alt" size=2}}{{/link-to}}</li>
            <li>{{#link-to 'about' class='button small man pts pbs' title="About"}}{{fa-icon "envelope" size=2}}{{/link-to}}</li>
        </ul>
    </nav>
</header>

<main class="mbxl">
  {{outlet}}
</main>

<footer class="bottom-bar">
    <span class="prl">&copy; Valoritization 2015</span>
</footer>

<aside>
  {{user-feedback}}
</aside>